<div class="menu-icon ">
    <i class="fas fa-bars header__menu"></i>
</div>

<header class="header bg_header" style="width: 100%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col" style="font-size: 30px;"><%= name %></div>
            <div class="col"></div>
        </div>
    </div>
    <!-- <div class="header__avatar"><%= name %></div> -->
</header>