<div class=" statis ">
    <div class="row card-3" style="padding-bottom: 10px; margin-bottom: 10px;">
        <div class="col ft" style="font-size: 25px; ">sadsad</div>
        <div class="col"></div>
    </div>

    <div class="row text-center ">
        <div class="col-md-3 ">
            <div class="box bg-primary">
                <i class="far fa-file-alt"></i>
                <h3>12</h3>
                <p class="lead ">Bảng tin</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box danger">
                <i class="far fa-user"></i>
                <h3>12</h3>
                <p class="lead ">Người dùng</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box warning">
                <i class="far fa-images"></i>
                <h3>12</h3>
                <p class="lead ">Sản phẩm(Preset)</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box success">
                <i class="fa fa-th-list"></i>
                <h3>12</h3>
                <p class="lead ">Thể loại(Preset)</p>
            </div>
        </div>

    </div>
    <div class="row">

    </div>
</div>

<script>

</script>