<aside class="sidenav position-fixed" style="height: 100%;">
    <div class="sidenav__close-icon">
        <i class="zmdi zmdi-format-subject sidenav__brand-close"></i>
    </div>
    <div class="row infor">
        <div class="col-3">
            <img class="img1"
                src="https://firebasestorage.googleapis.com/v0/b/safe-for-builder.appspot.com/o/avatar%2FKOY3baOqTlggx9SNglNFM9SdFRQ2.png?alt=media&token=8d727389-7c08-4877-afb5-9691e76efe30"
                alt="A black, brown, and white dog wearing a kerchief">
        </div>
        <div class="col-9">
            <div class="row">
                <div class="header__avatar" style="margin-left: 10px;">
                    Ngoc
                </div>
            </div>
        </div>
        <hr size="3" width="90%" style="margin-left: 6%; color:#ffffff;">
    </div>


    <ul class="sidenav__list">
        <li class="sidenav__list-item" id="exp_blok">
            <a id="exp" href="/dashboard">
                <i class="zmdi zmdi-view-dashboard"></i>&nbsp;&nbsp; Trang chủ
            </a>
        </li>
        <li class="sidenav__list-item" id="exp_blok">
            <a id="exp" href="/about">
                <i class="zmdi zmdi-account"></i>&nbsp;&nbsp; Quản lý người dùng
            </a>

        </li>
        <li class="sidenav__list-item" id="exp_blok">
            <a id="exp" href="/news">
                <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp; Quản lý bảng tin
            </a>
        </li>
        <li class="sidenav__list-item" id="exp_blok">
            <a id="exp" href="/product">
                <i class="zmdi zmdi-wallpaper"></i>&nbsp;&nbsp; Danh sách preset
            </a>
        </li>
        <li class="sidenav__list-item" id="exp_blok">
            <a id="exp" href="/thelma">
                <i class="zmdi zmdi-widgets"></i>&nbsp;&nbsp; Thể loại preset
            </a>
        </li>
        <li class="sidenav__list-item" id="exp_blok">
            <a id="exp" href="#">
                <i class="zmdi zmdi-shopping-cart"></i>&nbsp;&nbsp; Chi tiết giao dịch
            </a>
        </li>
    </ul>
</aside>